

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Uid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @uids.each do |uid| %>
      <tr>
        <td><% begin %>
              <%= Uid.find(uid.id).user.username %></td>
             <% rescue %>
              <%= "" %>
             <% end %>
        <td><%= uid.uid %></td>
        <td><%= link_to 'Destroy', uid, method: :delete, confirm: 'Are you sure?',:class => "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

